[package]
name = "bus"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { workspace = true, features = [
    "sync",
    "rt",
    "macros",
    "rt-multi-thread",
] }
parity-scale-codec = { version = "3.6", features = ["derive"] }
